.inline-block{
    display: inline-block;
    vertical-align: top;
}
.logo{
    width: 23%;
    padding: 1%;
    text-align: center;
}
.navigation{
    width: 73%;
    padding: 1%;
}
.nav{
    width: 50%;
    margin-left: auto;
}
.heroImg{
    height: 600px;
    padding: 25px;
}
.content1, .content2, .content3{
    width: 500px;
    margin: 0 auto;
}
.footer{
    background-color: #1B2270;
    padding: center;
}
.footernav{
    display: inline-block;
    vertical-align: top;
    padding: center;
}